# Stripe
STRIPE_API_KEY=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
STRIPE_SUCCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000/
STRIPE_WEBHOOK_SECRET=

# Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=


# FaunaDB
FAUNADB_SECRET=

# JWT - Precisa criar uma chave no formato hs512
SIGNING_KEY=

# Para ter variavel publica no front-end deve-se:
NEXT_PUBLIC_NOME_VARIAVEL=VALOR

# Prismic
PRISMIC_ACCESS_TOKEN=
PRISMIC_ENDPOINT=
